/* You can add global styles to this file, and also import other style files */
@import "./styles/example.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
